<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Primary Meta Tags -->
    <meta name="title" content="Virginia Tech - NASA Student Launch">
    <meta name="description" content="Virginia Tech design team dedicated to NASA's Student Launch (NASA SL). We build and fly rockets to compete with other Universities in the Country.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://slivt.github.io/">
    <meta property="og:title" content="Virginia Tech - Student Launch">
    <meta property="og:description" content="Virginia Tech design team dedicated to NASA's Student Launch (NASA SL). We build and fly rockets to compete with other Universities in the Country.">
    <meta property="og:image" content="https://slivt.github.io/image/banner/banner_second.webp">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://slivt.github.io/">
    <meta property="twitter:title" content="Virginia Tech - Student Launch">
    <meta property="twitter:description" content="Virginia Tech design team dedicated to NASA's Student Launch. We build and fly rockets to compete with other Universities in the Country.">
    <meta property="twitter:image" content="https://slivt.github.io/image/banner/banner_second.webp">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">

    <title>{{ page.title }}</title>
    <title>Virginia Tech - Student Launch</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {{ content }}

    {%- include footer.html -%}
  </body>
</html>
